:root {
    --colorPrimary: #6A0DAD;
    --colorPrimaryLight: rgba(106, 13, 173, 0.18);

    --colorRed: #cf2c2c;
    --colorRedLight: rgba(165, 42, 42, 0.18);
    --colorGreen: #2add66;
    --colorGreenLight: rgba(35, 168, 80, 0.28);

    --colorGray900: #282828;
    --colorGray-200: #f2f2feb3;

    --colorWhite: #FFFFFF;
    --colorBG: #1E1E1E;
    --colorBGDark: #111111;
    --colorBGLight: #2e2e2e;

    /*//////////////////////////*/
    --transition: all 300ms ease;

    /*//////////////////////////*/
    --containerWidthLarge: 88%;
    --containerWidthMedium: 90%;
    --formWidth: 40%;

    /*//////////////////////////*/
    --cardBorderRadius1: 0.3rem;
    --cardBorderRadius2: 0.5rem;
    --cardBorderRadius3: 0.8rem;
    --cardBorderRadius4: 2rem;
    --cardBorderRadius5: 3rem;
}

h1, h2, h3, h4, h5 {
    color: var(--colorWhite);
    line-height: 1.3;
}
h1 {
    font-size: 3rem;
    margin: 1rem 0;
}
h2 {
    font-size: 1.7rem;
    margin: 1rem 0;
}
h3 {
    font-size: 1.1rem;
    margin: 0.8rem 0 0.5rem;
}
h4 {
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;  /* Toplan genişlik hesaplama sistemini değiştirir */
}

body {
    background: url(http://localhost/visonity%203.6/images/background.png) repeat-y center top;
    background-size: auto 57vw;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    font-size: 1rem;
    overflow-x: hidden;
    color: var(--colorGray-200);
    /*background: var(--colorBG);*/
}

nav {  /* Üst Navigation sekme konumu ve boyutları */
    background: var(--colorPrimary);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    width: 100vw;  /* % -> Parent öğeye göre belirlenir. vw -> Pencere sekmesine göre belirlenir */
    height: 4.5rem;
    position: fixed;  /* Sayfa kaydırılsa bile öğe sabit yerinde kalır */
    top: 0;
    z-index: 10;
}

.container {
    width: var(--containerWidthLarge);
    max-width: 1800px;
    margin-inline: auto;  /* Her iki taraftanda eşit margin vererek öğeyi ortalar */
}
.navContainer {
    height: 100%;  /* Navigation boyutunun 100%'i */
    display: flex;  /* Genel olarak konumlandırma için büyük imkanlar sunar */
    align-items: center;  /* Ortada hizalama */
    justify-content: space-between;  /* Öğeler arasındakı mesafeyi maksimuma çıkarır */
}

.navLogo {
    font-weight: 600;
    font-size: 1.6rem;
}

a {
    color: var(--colorWhite);
    transition: var(--transition);
}

.navItems {
    display: flex;
    gap: 4rem;  /* Öğeler arasına boşluk ekler */
    align-items: center;
}

.navProfile {
    position: relative;
    cursor: pointer;
}
.avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;  /* Taşmaları gizler, Yoksa değişiklikler görünemez */
    border: 0.1rem solid var(--colorBG);
}
img {
    display: block;  /* Kendine ait satır oluşturur */
    width: 100%;  /* avatar boyutunun 100%'i */
    object-fit: cover;
}

.navProfile ul {
    position: absolute;  /* Parent öğeye göre konumlandırılır, ve diğer öğeleri etkilemez */
    top: 140%;
    right: 0;
    display: flex;
    flex-direction: column;  /* Sütun haline sokar */
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
}

.navProfile:hover > ul {  /* > */
    visibility: visible;
    opacity: 1;
}

.navProfile ul li a {
    display: block;
    width: 100%;
    padding: 1rem 2rem;
    background: var(--colorGray900);
}

.navProfile ul li:last-child a {
    background: var(--colorRed);
    color: var(--colorBG);
}





section {
    margin-top: 3rem;
    width: 100vw;
}

.featuredContainer {
    margin-top: 6.5rem;
    display: flex;
    width: 68vw;
    height: 80vh;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.4);
    border-radius: var(--cardBorderRadius2);
    overflow: hidden;
}


.featuredArticleThumbnail img { /* Farklı ekran boyutlarında resmin ölçeklendirilmesi */
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
.featuredContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 4rem 5rem rgba(0, 0, 0, 0.85);
    z-index: 0;
}
.featuredContainer::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 5rem 7rem rgba(0, 0, 0, 0.85);
    z-index: -1;
}


.featuredArticleButtonsBody {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}
.featuredArticleButtonsBody a {
    background: var(--colorPrimary);
    color: var(--colorGray-200);
    padding: 0rem 0.125rem;
    border-radius: var(--cardBorderRadius2);
    text-align: center;
    font-weight: 900;
    font-size: 2.25rem;
    margin-left: 0.75rem;
}
.featuredArticleButtonsBody a:hover {
    color: var(--colorWhite);
}


.featuredArticleAuthorBody {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
}
.featuredArticleAuthorAvatar {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: var(--cardBorderRadius3);
    overflow: hidden;
    margin: 0.5rem;
}
.featuredArticleAuthorInfo {
    display: inline-block;
    position: absolute;
    height: 2.5rem;
    width: 24rem;
    margin: 0.75rem;
}


.featuredArticleBody {
    color: var(--colorWhite);
    align-self: flex-start;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
}
.featuredArticleCategoryButton {
    background: var(--colorPrimary);
    color: var(--colorGray-200);
    padding: 0.5rem 1rem;
    border-radius: var(--cardBorderRadius2);
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
}
.featuredArticleCategoryButton:hover {
    color: var(--colorWhite);
}





.articlesExtraMargin {
    margin-top: 6rem;
}
.articlesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin-bottom: 5rem;
}
.article {
    background: var(--colorBGLight);
    border: 1rem solid var(--colorBGLight);
    border-radius: var(--cardBorderRadius2);
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}


.articleThumbnail {
    overflow: hidden;
    margin-bottom: 1rem;
    border-radius: var(--cardBorderRadius2) var(--cardBorderRadius2) 0 0;
}


.articleTopBar {
    display: flex;
    justify-content: space-between;
}
.articleAuthorBody {
    display: flex;
    gap: 0.75rem;
}
.articleAuthorAvatar {
    width: 3rem;
    height: 3rem;
    border-radius: var(--cardBorderRadius3);
    overflow: hidden;
}
.articleAuthorInfo {
    margin-top: 0.25rem;
}
.articleButtonsBody {
    display: flex;
    gap: 0.75rem;
}
.articleButtonsBody a {
    background: var(--colorPrimary);
    color: var(--colorGray-200);
    padding: 0rem 0.5rem;
    border-radius: var(--cardBorderRadius2);
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}
.articleButtonsBody a:hover {
    color: var(--colorWhite);
}


.articleBody {
    margin-top: 1.2rem;
}





.categoryButtons {
    padding: 4rem 0;
    border-top: 3px solid var(--colorBGLight);
    border-bottom: 3px solid var(--colorBGLight);
}
.categoryButtonsContainer {
    background: var(--colorBG);
    box-shadow: 0 0 1.5rem 1rem rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: var(--cardBorderRadius2);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: fit-content;
}





footer {
    margin-top: 11.4rem;
    padding: 5rem 0 0rem;
    background: var(--colorBGLight);
    box-shadow: inset 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
}
.footerSocials {
    margin-inline: auto;
    width: fit-content;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}
.footerSocials a {
    background: var(--colorBG);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.footerSocials a:hover {
    background: var(--colorWhite);
    color: var(--colorBG);
}
.footerCopyright {
    text-align: center;
    padding: 1.5rem 0;
    border-top: 3px solid var(--colorBG);
    margin-top: 4rem;
}





.searchBar {
    margin-top: 7rem;
}
.searchBarContainer {
    position: relative;
    width: 40rem;
    background: var(--colorBGLight);
    padding: 0.6rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--cardBorderRadius2);
    color: var(--colorGray-200);
    flex-direction: row;
    overflow: hidden;
    box-shadow: 0 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}


.searchBarContainer > div {
    width: 100%;
    display: flex;
    align-items: center;
}
.searchBar input {
    background: transparent;
    margin-left: 0.75rem;
    padding: 0.5rem 0;
    width: 100%;
}
.searchBar input::placeholder {
    color: var(--colorGray-200);
}


.btn {
    display: inline-block;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background-color: var(--colorPrimary);
    color: var(--colorWhite);
    border-radius: var(--cardBorderRadius2);
    cursor: pointer;
    transition: var(--transition);
}
.btn:hover {
    background-color: var(--colorWhite);
    color: var(--colorBG);
}
.btn.sm {
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
}
.btn.danger {
    background: var(--colorRed);
}
.btn.danger:hover {
    background-color: var(--colorWhite);
    color: var(--colorRed);
}




.aboutUsPage {
    width: 100vh;
    place-content: center;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 7.5rem;
    text-align: center;
}
.helpPage {
    width: 100vh;
    place-content: center;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 7.5rem;
    text-align: center;
}
.categoriesPage {
    width: 100vw;
    height: 10vh;
    background: var(--colorBGLight);
    display: grid;
    place-content: center;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    margin-top: 8rem;
    text-align: center;
    box-shadow: 0 0 1.5rem 1rem rgba(0, 0, 0, 0.2);
}





.articleTopExtraMargin {
    margin-top: 8rem;
}
.articleTop1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--colorBGLight);
    border: 1rem solid var(--colorBGLight);
    margin-bottom: 4rem;
    border-radius: var(--cardBorderRadius2);
    box-shadow: 0 0 0 0.25rem #DAA520;
}
.articleTop2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--colorBGLight);
    border: 1rem solid var(--colorBGLight);
    margin-bottom: 4rem;
    border-radius: var(--cardBorderRadius2);
    box-shadow: 0 0 0 0.25rem #8B4513;
}
.articleTop3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--colorBGLight);
    border: 1rem solid var(--colorBGLight);
    margin-bottom: 4rem;
    border-radius: var(--cardBorderRadius2);
    box-shadow: 0 0 0 0.25rem #B0B0B0;
}
.articleTopThumbnail {
    overflow: hidden;
    border-radius: var(--cardBorderRadius2) 0 0 var(--cardBorderRadius2);
    width: 97%;
}

h1.Top1 {
    color: var(--colorBG);
    background: linear-gradient(90deg, transparent, #DAA520 40%, #DAA520 60%, transparent);
    text-align: center;
    border-radius: var(--cardBorderRadius3);
    margin-bottom: 1.5rem;
}
h1.Top2 {
    color: var(--colorBG);
    background: linear-gradient(90deg, transparent -1%, #8B4513 30%, #8B4513 70%, transparent 101%);
    text-align: center;
    border-radius: var(--cardBorderRadius3);
    margin-bottom: 1.5rem;
}
h1.Top3 {
    color: var(--colorBG);
    background: linear-gradient(90deg, transparent, #B0B0B0 40%, #B0B0B0 60%, transparent);
    text-align: center;
    border-radius: var(--cardBorderRadius3);
    margin-bottom: 1.5rem;
}


.Top1ButtonsBody a {
    background: #B8860B;
}
.Top1CategoryButton {
    background: #B8860B;
}
.Top2ButtonsBody a {
    background: #793d13;
}
.Top2CategoryButton {
    background: #793d13;
}
.Top3ButtonsBody a {
    background: #7F7F7F;
}
.Top3CategoryButton {
    background: #7F7F7F;
}





.articleSingleContainer {
    width: 60vw;
}




form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.formSectionContainer {
    width: 50vw;
}


.alertMessage {
    padding: 0.8rem 1.4rem;
    margin-bottom: 1rem;
    border-radius: var(--cardBorderRadius2);
}
.alertMessage.success {
    background: var(--colorGreenLight);
    color: var(--colorGreen);
}
.alertMessage.error {
    background: var(--colorRedLight);
    color: var(--colorRed);
}


input, textarea, select {
    padding: 0.8rem 1.4rem;
    background-color: var(--colorBGLight);
    border-radius: var(--cardBorderRadius2);
    resize: none;
    color: var(--colorWhite);
}


.formSection small {
    margin-top: 1rem;
    display: block;
    margin-bottom: 2rem;
}
.formSection small a {
    color: var(--colorPrimary);
}


.formControl {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}





.dashboard {
    margin-top: 6rem;
}
.dashboardContainer {
    display: grid;
    grid-template-columns: 16rem auto;
    gap: 1rem;
    background: var(--colorBGLight);
    padding: 2rem;
    margin-bottom: 4rem;
    border-radius: var(--cardBorderRadius2);
    box-shadow: 0 0 1.5rem 1rem rgba(0, 0, 0, 0.2);
}


.dashboard aside a {
    background-color: var(--colorPrimary);
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1.6rem;
}
.dashboard aside li:first-child a {
border-radius: var(--cardBorderRadius2) var(--cardBorderRadius2) 0 0;
}
.dashboard aside li:last-child a {
    border-radius: 0 0 var(--cardBorderRadius2) var(--cardBorderRadius2);
}
.dashboard aside ul li:not(:last-child) a {
    border-bottom: 1px solid var(--colorBGLight);
}
.dashboard aside a:hover {
    background: var(--colorBGLight);
}
.dashboard aside a.active {
    background-color: var(--colorBGLight);
}


.dashboard main {
    margin-left: 1.5rem;
}
.dashboard main h2 {
    margin: 0 0 2rem 0;
    line-height: 1;
}


.dashboard main table {
    width: 100%;
    text-align: left;
}


.dashboard main table th {
    background: var(--colorPrimary);
    padding: 0.8rem;
    color: var(--colorWhite);
}


.dashboard main table td {
    padding: 0.8rem;
    border-bottom: 1px solid var(--colorGray-200);
}


.dashboard main table tr:hover td {
    background-color: var(--colorBG);
    color: var(--colorWhite);
    cursor: default;
    transition: var(--transition);
}





.formSectionAdd {
    display: grid;
    margin-top: 8rem;
    margin-bottom: 6rem;
}


.formControl.inline {
    flex-direction: row;
    align-items: center;
}





.formSectionContainerAdd {
    background: var(--colorBG);
    box-shadow: 0 0 1.5rem 1rem rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem 1rem 2rem;
    border-radius: var(--cardBorderRadius2);
}
.formSectionContainerEdit {
    background: var(--colorBG);
    box-shadow: 0 0 1.5rem 1rem rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem 1rem 2rem;
    border-radius: var(--cardBorderRadius2);
}
.formSectionContainerSign {
    background: var(--colorBG);
    box-shadow: 0 0 1.5rem 1rem rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem 1rem 2rem;
    border-radius: var(--cardBorderRadius2);
    margin-bottom: 4rem;
}
.aboutUsPageİnformation {
    background: var(--colorBGLight);
    box-shadow: 0 0 1.5rem 1rem rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem 2rem 2rem;
    border-radius: var(--cardBorderRadius2);
}
.helpPageİnformation {
    background: var(--colorBGLight);
    box-shadow: 0 0 1.5rem 1rem rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem 2rem 2rem;
    border-radius: var(--cardBorderRadius2);
}




.profilePage {
    width: 100vw;
    height: 10vh;
    background: var(--colorBGLight);
    display: grid;
    place-content: center;
    padding-top: 7rem;
    padding-bottom: 7rem;
    margin-top: 10rem;
    text-align: center;
    box-shadow: 0 0 1.5rem 1rem rgba(0, 0, 0, 0.2);
}
.avatarProfilePage {
    width: 21rem;
    height: 21rem;
    border-radius: 50%;
    overflow: hidden;
}


.usernameProfilePage {
    text-align: center;
    margin: 0 auto;
    margin-top: 3.5rem;
    margin-bottom: 4rem;
}
.usernameProfilePage h1 {
    font-size: 4.5rem;
    margin-bottom: 0;
    text-shadow: 0.2rem 0.2rem 0.2rem var(--colorBG);
}
.usernameProfilePage h2 {
    font-size: 1.5rem;
    margin-top: 0;
    text-shadow: 0.2rem 0.2rem 0.1rem var(--colorBG);
}


.userInformationProfilePage {
    width: 50vw;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4rem;
    background: var(--colorBGLight);
    padding: 2rem 2rem 3rem 2rem;
    box-shadow: 0 0 1.5rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: var(--cardBorderRadius2);
}
.userInformationProfilePage h2 {
    margin-top: 0;
}


.numberOfArticles {
    height: 0.2rem;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.numberOfArticles h2 {
    margin: 0;
}


.decimalBarProfilePage {
    height: 1rem;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.decimalBar {
    border-radius: var(--cardBorderRadius2);
    overflow: hidden;
    width: 60%;
    height: 2rem;
    background: var(--colorRed);
}
.decimalBar .upVote {
    width: 79.31%;
    height: 2rem;
    background: var(--colorGreen);
}


.decimalBarProfilePage h2 {
    margin: 0;
}
.decimalBarProfilePage i {
    font-size: 4rem;
    margin: 0;
    color: var(--colorWhite);
}





.navCategories {
    position: relative;
    cursor: pointer;
}

.navCategoriesHidden {
    width: 100vw;
    height: 3.6rem;
    background: var(--colorGray900);
    position: fixed;
    top: 4.5rem;
    left: 0;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
    display: flex;
    justify-content: center;
}

.navCategories ul {
    position: absolute;  /* Parent öğeye göre konumlandırılır, ve diğer öğeleri etkilemez */
    display: flex;
    flex-direction: row;
}

.navCategories:hover > .navCategoriesHidden {
    visibility: visible;
    opacity: 1;
}

.navCategories ul li a {
    display: block;
    width: 100%;
    padding: 1rem 2rem;
    background: var(--colorGray900);
}





.categoriesPage > h4 {
    font-weight: 500;
}
.helpPage > h4 {
    font-weight: 500;
}
.aboutUsPage > h4 {
    font-weight: 500;
}