:root {
    --colorPrimary: #6A0DAD;
    --colorPrimaryLight: rgba(106, 13, 173, 0.18);

    --colorRed: #A52A2A;
    --colorRedLight: rgba(165, 42, 42, 0.18);
    --colorGreen: #50C878;
    --colorGreenLight: rgba(80, 200, 120, 0.18);

    --colorGray900: #282828;
    --colorGray-200: #f2f2feb3;

    --colorWhite: #FFFFFF;
    --colorBG: #1E1E1E;
    --colorBGDark: #111111;

    /*//////////////////////////*/
    --transition: all 300ms ease;

    /*//////////////////////////*/
    --containerWidthLarge: 88%;
    --containerWidthMedium: 90%;
    --formWidth: 40%;

    /*//////////////////////////*/
    --cardBorderRadius1: 0.3rem;
    --cardBorderRadius2: 0.5rem;
    --cardBorderRadius3: 0.8rem;
    --cardBorderRadius4: 2rem;
    --cardBorderRadius5: 3rem;
}

h1, h2, h3, h4, h5 {
    color: var(--colorWhite);
    line-height: 1.3;
}
h1 {
    font-size: 3rem;
    margin: 1rem 0;
}
h2 {
    font-size: 1.7rem;
    margin: 1rem 0;
}
h3 {
    font-size: 1.1rem;
    margin: 0.8rem 0 0.5rem;
}
h4 {
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;  /* Toplan genişlik hesaplama sistemini değiştirir */
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    font-size: 1rem;
    overflow-x: hidden;
    color: var(--colorGray-200);
    background: var(--colorBG);
}

nav {  /* Üst Navigation sekme konumu ve boyutları */
    background: var(--colorPrimary);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    width: 100vw;  /* % -> Parent öğeye göre belirlenir. vw -> Pencere sekmesine göre belirlenir */
    height: 4.5rem;
    position: fixed;  /* Sayfa kaydırılsa bile öğe sabit yerinde kalır */
    top: 0;
    z-index: 10;
}

.container {
    width: var(--containerWidthLarge);
    max-width: 1800px;
    margin-inline: auto;  /* Her iki taraftanda eşit margin vererek öğeyi ortalar */
}
.navContainer {
    height: 100%;  /* Navigation boyutunun 100%'i */
    display: flex;  /* Genel olarak konumlandırma için büyük imkanlar sunar */
    align-items: center;  /* Ortada hizalama */
    justify-content: space-between;  /* Öğeler arasındakı mesafeyi maksimuma çıkarır */
}

.navLogo {
    font-weight: 600;
    font-size: 1.6rem;
}

a {
    color: var(--colorWhite);
    transition: var(--transition);
}

.navItems {
    display: flex;
    gap: 4rem;  /* Öğeler arasına boşluk ekler */
    align-items: center;
}

.navProfile {
    position: relative;
    cursor: pointer;
}
.avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;  /* Taşmaları gizler, Yoksa değişiklikler görünemez */
    border: 0.3rem solid var(--colorBG);
}
img {
    display: block;  /* Kendine ait satır oluşturur */
    width: 100%;  /* avatar boyutunun 100%'i */
    object-fit: cover;
}

.navProfile ul {
    position: absolute;  /* Parent öğeye göre konumlandırılır, ve diğer öğeleri etkilemez */
    top: 140%;
    right: 0;
    display: flex;
    flex-direction: column;  /* Sütun haline sokar */
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
}

.navProfile:hover > ul {  /* > */
    visibility: visible;
    opacity: 1;
}

.navProfile ul li a {
    display: block;
    width: 100%;
    padding: 1rem 2rem;
    background: var(--colorGray900);
}

.navProfile ul li:last-child a {
    background: var(--colorRed);
    color: var(--colorBG);
}





.featured {
    margin-top: 6.5rem;
}


.featuredContainer {
    display: flex;
    justify-content: center;
    width: 85vw;
    height: 80vh;
}

.articleThumbnail {
    border-radius: 0 0 3rem 3rem;
    border: 0.5rem solid var(--colorPrimary);
    position: relative;
    width: 79%;
    height: 100%;
    overflow: hidden;
}

.articleThumbnailImg { /* Farklı ekran boyutlarında resmin ölçeklendirilmesi */
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.articleThumbnail::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 4rem 5rem rgba(0, 0, 0, 0.85);
    z-index: 0;
}
.articleThumbnail::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 5rem 7rem rgba(0, 0, 0, 0.85);
    z-index: -1;
}

.buttons a {
    /*display: inline-block;*/
    background: var(--colorPrimary);
    color: var(--colorGray-200);
    padding: 0.5rem 1rem;
    border-radius: var(--cardBorderRadius2);
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
    /*align-self: flex-end;*/
}
.buttons i {
    font-size: 1.5rem;
}
.categoryButton {
    position: absolute;
    bottom: 8rem;
    right: 2rem;
}
.categoryButton:hover {
    color: var(--colorWhite);
}
.upVoteButton {
    position: absolute;
    top: 1rem;
    right: 14.5rem;
}
.upVoteButton:hover {
    color: var(--colorWhite);
}
.downVoteButton {
    position: absolute;
    top: 1rem;
    right: 10rem;
}
.downVoteButton:hover {
    color: var(--colorWhite);
}
.shareButton {
    position: absolute;
    top: 1rem;
    right: 5.5rem;
}
.shareButton:hover {
    color: var(--colorWhite);
}
.saveButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.saveButton:hover {
    color: var(--colorWhite);
}


.featuredArticleAuthorBody {
    position: absolute;
    width: 16rem;
    height: 4rem;
    top: 1rem;
    left: 1rem;
    z-index: 1;
}
.articleAuthorAvatar {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: var(--cardBorderRadius3);
    overflow: hidden;
    margin: 0.5rem;
}
.articleAuthorInfo {
    display: inline-block;
    position: fixed;
    margin: 0.75rem;
}


.featuredArticleBody {
    color: var(--colorWhite);
    align-self: flex-start;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
}